# images
ZOOKEEPER_IMAGE=confluentinc/cp-zookeeper:7.3.0
KAFKA_IMAGE=confluentinc/cp-kafka:7.3.0
KAFKA_UI_IMAGE=provectuslabs/kafka-ui:v0.7.2

# ports
ZOOKEEPER_PORT=2181
KAFKA_INTERNAL_PORT=29092
KAFKA_EXTERNAL_PORT=9092
KAFKA_JMX_PORT=9101
KAFKA_UI_PORT=8080

# runtime
KAFKA_HOST_IP=127.0.0.1
KAFKA_CLUSTER_NAME=local-kafka
