# images
KAFKA_IMAGE=confluentinc/cp-kafka:7.5.3
KAFKA_UI_IMAGE=provectuslabs/kafka-ui:v0.7.2

# ports
KAFKA_INTERNAL_PORT=29092
KAFKA_CONTROLLER_PORT=29093
KAFKA_EXTERNAL_PORT=9092
KAFKA_1_PORT=9092
KAFKA_2_PORT=9093
KAFKA_3_PORT=9094
KAFKA_UI_PORT=8080

# runtime
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
DOCKER_HOST_IP=127.0.0.1
PROFILE=local
