REDIS_VERSION=7.2.4
REDIS_NODE_1_PORT=7001
REDIS_NODE_1_BUS_PORT=17001
REDIS_NODE_2_PORT=7002
REDIS_NODE_2_BUS_PORT=17002
REDIS_NODE_3_PORT=7003
REDIS_NODE_3_BUS_PORT=17003
REDIS_NODE_4_PORT=7004
REDIS_NODE_4_BUS_PORT=17004
REDIS_NODE_5_PORT=7005
REDIS_NODE_5_BUS_PORT=17005
REDIS_NODE_6_PORT=7006
REDIS_NODE_6_BUS_PORT=17006
