# images
ZOOKEEPER_IMAGE=confluentinc/cp-zookeeper:7.3.0
KAFKA_IMAGE=confluentinc/cp-kafka:7.3.0
KAFKA_UI_IMAGE=provectuslabs/kafka-ui:v0.7.2

# ports
ZOOKEEPER_CLIENT_PORT=2181
ZOOKEEPER_1_EXTERNAL_PORT=2181
ZOOKEEPER_2_EXTERNAL_PORT=2182
ZOOKEEPER_3_EXTERNAL_PORT=2183
KAFKA_1_INTERNAL_PORT=29091
KAFKA_1_EXTERNAL_PORT=9091
KAFKA_1_JMX_PORT=9101
KAFKA_2_INTERNAL_PORT=29092
KAFKA_2_EXTERNAL_PORT=9092
KAFKA_2_JMX_PORT=9102
KAFKA_3_INTERNAL_PORT=29093
KAFKA_3_EXTERNAL_PORT=9093
KAFKA_3_JMX_PORT=9103
KAFKA_UI_PORT=8080

# runtime
KAFKA_HOST_IP=127.0.0.1
KAFKA_CLUSTER_NAME=local-kafka
ZOOKEEPER_TICK_TIME=2000
ZOOKEEPER_INIT_LIMIT=5
ZOOKEEPER_SYNC_LIMIT=2
ZOOKEEPER_SERVERS=zookeeper-1:2888:3888;zookeeper-2:2888:3888;zookeeper-3:2888:3888
KAFKA_ZOOKEEPER_CONNECT=zookeeper-1:2181,zookeeper-2:2181,zookeeper-3:2181
