# MySQL Docker image tag
MYSQL_IMAGE=mysql:8.4.3

# Host port
MYSQL_PORT=3306

# Root account password
MYSQL_ROOT_PASSWORD=root

# Default database created on first startup
MYSQL_DATABASE=mydatabase

# Container timezone
TZ=Asia/Seoul
